@charset "UTF-8";
/*重置body*/
body {
  font-size: .28rem;
  color: #333333;
  background-color: #ebebeb;
  padding: .32rem .32rem 1.5rem; }

/*订单相关信息*/
.detailed-box {
  padding: .22rem;
  background-color: #ffffff;
  border-radius: 0.1rem;
  margin-bottom: .18rem; }

.shop-box .head {
  display: flex;
  align-items: center;
  padding-bottom: .2rem;
  border-bottom: 1px solid #dddddd; }
  .shop-box .head .pic {
    width: 0.48rem;
    height: 0.48rem; }
  .shop-box .head .title {
    margin-left: .2rem; }

.food-list {
  border-bottom: 1px solid #dddddd; }

.food {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: .12rem 0; }
  .food .pic {
    width: 0.94rem;
    height: 0.94rem; }
  .food .center {
    flex-grow: 1;
    margin-left: .2rem; }
    .food .center .count {
      font-size: .26rem;
      color: #666666;
      line-height: 2; }
  .food .price {
    color: #666666; }

.discount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2.4; }
  .discount .price {
    color: #f44336; }

.voucher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 3;
  border-bottom: 1px solid #dddddd; }
  .voucher .price {
    color: #f44336;
    flex-grow: 1;
    text-align: right; }
  .voucher .pic {
    width: 0.16rem;
    height: 0.28rem;
    background: url("../images/btn_enter22.png") no-repeat center center;
    background-size: 100%;
    margin-left: .2rem; }

.real-payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 3; }
  .real-payment .title {
    margin-left: 3rem; }

/*支付*/
.payment-box {
  padding: .22rem;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .18rem; }
  .payment-box .pic {
    width: 0.7rem;
    height: 0.7rem; }
  .payment-box .center {
    margin-left: .3rem; }
  .payment-box .jiada {
    width: 3.1rem; }
  .payment-box .weixi {
    width: 4.1rem; }
  .payment-box .zfb {
    width: 1.6rem; }
  .payment-box .ji-fen {
    font-size: 0.24rem;
    letter-spacing: 0.003rem;
    color: #999999; }

.bd-red {
  border: 1px solid red; }

/*购物车*/
.has {
  width: 7.5rem;
  height: 0.98rem;
  background-color: #424242;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .has .total-prices {
    font-size: 0.3rem;
    line-height: 0.4rem;
    letter-spacing: 0.004rem;
    color: #ffffff;
    margin-right: .2rem; }
  .has .accounts {
    display: inline-block;
    padding: 0.22rem 0.52rem;
    background-color: #f44336;
    border-radius: 0.37rem;
    font-size: 0.3rem;
    font-weight: normal;
    font-stretch: normal;
    line-height: 0.4rem;
    letter-spacing: 0.004rem;
    color: #ffffff;
    margin-right: .24rem; }

/*# sourceMappingURL=place_order.css.map */
