.shopcart-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  transform: translate3d(0, -100%, 0);
  z-index: -1;
}
.shopcart-list.transHeight-enter-active,
.shopcart-list.transHeight-leave-active {
  transition: all 0.5s;
}
.shopcart-list.transHeight-enter,
.shopcart-list.transHeight-leave-active {
  transform: translate3d(0, 0, 0);
}
.shopcart-list .list-header {
  height: 40px;
  line-height: 40px;
  background: #f3f5f7;
  border-bottom: 1px solid rgba(7,17,27,0.1);
}
.shopcart-list .list-header .title {
  display: inline-block;
  font-size: 0.28rem;
  font-weight: 200;
  color: #666;
  padding-left: 0.24rem;
}
.shopcart-list .list-header .empty {
  position: absolute;
  right: 8px;
  font-size: 0.28rem;
  color: #005e32;
  padding: 0 0.1rem;
}
.shopcart-list .list-content {
  padding-bottom: 0.1rem;
  max-height: 217px;
  overflow: hidden;
}
.shopcart-list .list-content .food {
  position: relative;
  display: block;
  margin: 0 0.24rem;
  border-bottom: 1px solid rgba(7,17,27,0.1);
}
.shopcart-list .list-content .food .name {
  float: left;
  width: 3.46rem;
  overflow: hidden;
  font-size: 0.28rem;
  color: #07111b;
  height: 0.96rem;
  line-height: 0.96rem;
  font-weight: 700;
}
.shopcart-list .list-content .food .price {
  float: left;
  font-size: 0.28rem;
  font-weight: 700;
  color: #f01414;
  padding: 0 0.1rem 0 0.1rem;
  line-height: 0.96rem;
}
.shopcart-list .list-content .food .cartcontrol-wrapper {
  float: right;
  font-size: 0.28rem;
  margin-top: 0.22rem;
}
