.shopcart-list
  position absolute
  top 0
  left 0
  width 100%
  background white
  transform translate3d(0,-100%,0)
  z-index -1
  &.transHeight-enter-active,&.transHeight-leave-active
    transition all 0.5s
  &.transHeight-enter,&.transHeight-leave-active
    transform translate3d(0,0,0)
  .list-header
    height 40px
    line-height 40px
    background #f3f5f7
    border-bottom 1px solid rgba(7,17,27,0.1)
    .title
      display inline-block
      font-size .28rem
      font-weight 200
      color #666
      padding-left .24rem
    .empty
      position absolute
      right 8px
      font-size .28rem
      color #005e32
      padding 0 .1rem
  .list-content
    padding-bottom .1rem
    max-height 217px
    overflow hidden
    .food
      position relative
      display block
      margin 0 .24rem
      border-bottom 1px solid rgba(7,17,27,0.1)
      .name
        float left
        width 3.46rem
        overflow hidden
        font-size .28rem
        color rgb(7,17,27)
        height .96rem
        line-height .96rem
        font-weight 700
      .price
        float left
        font-size .28rem
        font-weight 700
        color rgb(240,20,20)
        padding 0 .1rem 0 .1rem
        line-height .96rem
      .cartcontrol-wrapper
        float right
        font-size .28rem
        margin-top .22rem