@charset "UTF-8";
/*重置body背景色*/
body {
  background-color: #ebebeb;
  padding: .3rem; }

/*自定义单选按钮*/
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/not_choose.png") no-repeat;
  background-size: 100% 100%;
  cursor: pointer; }

input[type="radio"]:focus {
  outline: none; }

input[type="radio"]:checked {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../images/btn_choose.png") no-repeat;
  background-size: 100% 100%; }

/*不使用代金券*/
.voucher-non {
  width: 6.85rem;
  height: 1.32rem;
  background-color: #ffffff;
  border-radius: 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .16rem; }
  .voucher-non .name {
    line-height: 0.6rem;
    letter-spacing: 0.004rem;
    color: #333333;
    margin-left: .8rem; }
  .voucher-non .right {
    margin-right: .3rem; }
  .voucher-non .sl-btn {
    width: 0.28rem;
    height: 0.28rem; }

/*餐饮代金券*/
.voucher-food {
  width: 6.85rem;
  height: 1.32rem;
  border-radius: 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .16rem;
  font-size: 0.24rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.003rem;
  color: #999999; }
  .voucher-food .left-box {
    width: 1.85rem;
    height: 1rem;
    background-color: #ffffff;
    border-radius: 0.1rem;
    padding: 0.16rem 0; }
    .voucher-food .left-box .content {
      text-align: center;
      height: 1rem;
      border-right: 1px dashed #dddddd; }
      .voucher-food .left-box .content .price {
        font-size: 0.42rem;
        letter-spacing: 0.005rem;
        color: #ff5252; }
        .voucher-food .left-box .content .price small {
          font-size: 0.26rem;
          font-weight: normal;
          font-stretch: normal;
          line-height: 0.6rem;
          letter-spacing: 0.003rem;
          color: #ff5252; }
  .voucher-food .right-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    height: 1.32rem;
    background-color: #ffffff;
    border-radius: 0.1rem; }
    .voucher-food .right-box .name {
      font-size: 0.32rem;
      font-weight: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.004rem;
      color: #333333;
      margin-left: .5rem; }
    .voucher-food .right-box .time {
      display: block;
      font-size: 0.24rem;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0.003rem;
      color: #999999; }
    .voucher-food .right-box .right {
      margin-right: .3rem; }
    .voucher-food .right-box .sl-btn {
      width: 0.28rem;
      height: 0.28rem; }

/*购物代金券*/
.voucher-shop {
  width: 6.85rem;
  height: 1.32rem;
  border-radius: 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .16rem;
  font-size: 0.24rem;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0.003rem;
  color: #999999; }
  .voucher-shop .left-box {
    width: 1.85rem;
    height: 1rem;
    background-color: #dddddd;
    border-radius: 0.1rem;
    padding: 0.16rem 0; }
    .voucher-shop .left-box .content {
      text-align: center;
      height: 1rem;
      border-right: 1px dashed #999999; }
      .voucher-shop .left-box .content .price {
        font-size: 0.42rem;
        letter-spacing: 0.005rem;
        color: #999999; }
        .voucher-shop .left-box .content .price small {
          font-size: 0.26rem;
          font-weight: normal;
          font-stretch: normal;
          line-height: 0.6rem;
          letter-spacing: 0.003rem;
          color: #999999; }
  .voucher-shop .right-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    height: 1.32rem;
    background-color: #dddddd;
    border-radius: 0.1rem; }
    .voucher-shop .right-box .name {
      font-size: 0.32rem;
      font-weight: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.004rem;
      color: #333333;
      margin-left: .5rem; }
    .voucher-shop .right-box .time {
      display: block;
      font-size: 0.24rem;
      font-weight: normal;
      font-stretch: normal;
      letter-spacing: 0.003rem;
      color: #999999; }
    .voucher-shop .right-box .right {
      margin-right: .3rem; }
    .voucher-shop .right-box .sl-btn {
      width: 0.28rem;
      height: 0.28rem; }

/*# sourceMappingURL=voucher.css.map */
